body{
  margin: 0 auto;
}

.slider{
  width: 80%;
  margin: 40px auto;
}

img{
  width: 80%;
  margin: 0 auto;
}

ul li{
  list-style: none;
}

h3{
  text-align: center;
  font-weight: bold;
  color: #6699ff;
}


